

 


@font-face {
  font-family: 'paytone';
  src: url('/public/PaytoneOne-Regular.ttf');
}

@font-face {
  font-family: 'death';
  src: url('/public/DelaGothicOne-Regular.ttf');
}


.dashboard {
  font-family: 'death';
  /* font-family: 'PaytoneOne-Regular.ttf'; */
  padding: 20px;
  /* Add padding for spacing */
  font-size: 24px;
  /* Set font size to 24px */
  color: black;
  /* Set text color to black */
}

.dashboard-header {
  font-size: 36px;
  /* Increase font size for the header */
  font-weight: bold;
  /* Make the header text bold */
}

.highlighted-text {
  color: rgb(11, 102, 133);
  /* Set the text color of "Connections" to light blue */
  display: inline;
  /* Ensure it's inline with other text */
  margin-left: 10px;
  /* Add margin to separate it from the previous text */
  margin-right: 0;
  /* Remove right margin */
  padding: 0;
  /* Remove padding */
  line-height: 1;
  /* Reduce spacing between lines */
}

/* description */
/* styles.css */

.description {
  position: absolute;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  left: 0;
}

.description p {
  color: rgb(134, 127, 127);
  font-size: 18px;
  text-align: left;
}

/* card  */

